{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "tweet" : { "S" : "${context.arguments.tweet}" }
    },
    "attributeValues" : {
        "tweet" : { "S" : "${context.arguments.tweet}" },
        "retweeted": { "BOOL" : false },
        "favorited": { "BOOL" : false },
        "retweet_count": { "N" : "0"},
        "created_at": {"S" : "${context.arguments.created_at}" },
        "tweet_id" : { "S" : "$util.autoId()" }
    }
}